/*
THIS IS THE CSS STRUCTURE
selector {
    property: value;
}
*/

/* we can select by element name */
td {
    color: blueviolet;
}
h2 {
    text-align: right;
    color:red;
}

/* we can also select by the class attribute */
.testclass {
    /* border-style can be set to dotted, dashed, solid, double,
    groove, ridge, inset, outset, none, hidden */
    border-style: solid double groove dotted;
    border-width: 5px;
    border-color: chocolate;
}

/* we can also select by the id attribute */
#testid {
    text-align: center;
}
#secondid {
    border-style: dashed;
    border-color: green;
    /* static, relative, fixed, absolute, sticky */
    position: relative;
    /* left, right, top, bottom */
    right: 100px;
    bottom: 50px;
    /* height, width */
    /* height: 200px */
}

/* we can select certain elements ONLY if they have a specific
parent element */
ul > li {
    color: red;
}

ol > li {
    color: saddlebrown;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 5px;
    padding: 30px;
}

