.login {
    margin: 100px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
  } */
 
 .loginclass {
 border: 4px solid gray;
 background-color: gray;
 float:center;
 width: 300px;
 left: 37%;
 height: 300px;
 position: relative;
 }
 
 
 #headid{
    text-align: center;
    color: whitesmoke;
    font-family: Verdana;
 }
 
 
    /* border-style: solid;
    border-width: 0px;
    /* border: 0; */
    /* background-color:gray; */
    /* text-align: center; */
    /* padding: 40px; */
 
        /* position: absolute; */
        /* top: 10px; */
        /* float: center; */
 
    /* position: relative; */
    /* box-sizing: border-box; */
 
 #box {
    text-align: center;
    top: 20px;
    left: 30px;
    right: 40px;
    bottom: 60px;
    padding: 0px;
    /* box-sizing: border-box; */
    /* width: 900px; */
    /* height: 600px;  */
 }
 /* nav{ */
    /* border-style: solid; */
    /* color: gray; */
    /* border-width: 4px; */
 /* } */
 .navbar{
    text-align:  center;
    color: whitesmoke;
    font-family: Verdana;
 }
 li {
    display: inline;
    text-align: center;
    color:whitesmoke;
    padding: 10px;
    margin: 10px;
 }
 body {
    background-image: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80
 https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80
 ");
        margin: 0;
    }
 #registerid{
    text-align: center;
    padding: 0px;
    font-family: Verdana;
    color: whitesmoke;
 }