.nav {
    text-align: center;
    ;
}

#cred {
    text-align: center;
}

body {
    background-image: url(http://orig10.deviantart.net/159e/f/2011/216/9/8/alabama_logo_by_profseverussnape-d45g7j3.jpg);
    background-size: 100%;
}

#wrong {
    color: crimson;
}

#rightLinks {
    text-align: right;
    color: crimson;
}

#rightLinks>a {
    text-align: right;
    color: crimson;
}

button {
    background: none;
    border: none;
    color: crimson;
}

button:hover {
    cursor: pointer;
}

#aboutbullets {
    list-style-type: none;
}

.flashcards {
    text-align: center;
}

.collapse.show {
    visibility: visible;
}

#favLinksUl>li {
    list-style-type: none;
    color: crimson;
}


/* .jumbotron {
    background-image: url(./plank.jpg);
} */

#here {
    color: crimson;
}

#login {
    color: crimson;
}

#aboutme {
    color: crimson;
}

#aboutbullets>li {
    color: crimson;
}

#favLinks {
    color: crimson;
    text-align: right;
}

#cards {
    color: white;
}

#filler {
    text-align: center;
    color: crimson;
}