body {
    background-image: url(./images/Untitled.png);
    background-size: cover;
}

.danger {
    color: red;
}

.btn {
    border: none;
    background-color: unset;
    padding: 14px 28px;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: fantasy;
    text-align: left;
}

.danger {
    text-align: center;
}

#login {
    max-width: 150px;
    margin: auto;
}

.content {}

.container {
    background-color: rgba(255, 255, 255, 0.692);
    max-width: 450px;
    margin: auto;
    max-height: 225px;
}